﻿@model Movies.Models.IndexViewModel1
@using Movies.Helpers
@{
    ViewBag.Title = "Каталог фильмов";
}
<style>
    th {
        text-align: left;
        padding-right: 20px;
    }

    td {
        vertical-align: top;
        padding: 10px 5px;
    }

    tr {
        border-bottom: 1px solid #d4cdcd;
    }
</style>
<h2>Каталог фильмов</h2>

<p>
    @Html.ActionLink("Добавить фильм", "Create")
</p>
<table cellspacing="5">
    <tr>
        <th>

        </th>
        <th>
            Название
        </th>
        <th>
            Описание
        </th>
        <th>
            Режисер
        </th>
        <th>
            Год
        </th>
        <th>
            Автор
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Movies)
    {
        <tr>
            <td>
                @Html.Raw("<img style='width:200px;height:150px;'src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Poster) + "\"/>")
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Producer
            </td>
            <td>
                @item.Year
            </td>
            <td>
                @item.CurrentUser
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
<div>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>